In [1]:
import pandas as pd
df = pd.read_csv("train.csv")

In [2]:
df1 = df.copy()

In [3]:
df1.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [4]:
df1.dtypes

ID                              object
Delivery_person_ID              object
Delivery_person_Age             object
Delivery_person_Ratings         object
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Weatherconditions               object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries             object
Festival                        object
City                            object
Time_taken(min)                 object
dtype: object

In [5]:
# convertendo Delivery_person_Age para int
linhas_selecionadas = df1['Delivery_person_Age'] != 'NaN '
df1 = df1.loc[linhas_selecionadas, :].copy()
df1['Delivery_person_Age'] = df1['Delivery_person_Age'].astype(int)

# convertendo Delivery_person_Ratings para float
df1['Delivery_person_Ratings'] = df1['Delivery_person_Ratings'].astype(float)

# convertendo Order_Date para datetime
df1['Order_Date'] = pd.to_datetime(df1['Order_Date'], format=('%d-%m-%Y'))

# convertendo multiple_deliveries para int
linhas_selecionadas = df1['multiple_deliveries'] != 'NaN '
df1 = df1.loc[linhas_selecionadas, :].copy()
df1['multiple_deliveries'] = df1['multiple_deliveries'].astype(int)

# removendo espacos dentro de strings
df1 = df1.reset_index(drop=True)
for i in range(len(df1)):
    df1.loc[i, 'ID'] = df1.loc[i, 'ID'].strip()

# Exercicios

1. Qual o número total de entregas cadastrados na base de dados?

In [6]:
df1.shape

(42805, 20)

2. Qual o número total de entregadores únicos cadastrados na base de dados?

In [7]:
df1['Delivery_person_ID'].unique().shape

(1320,)

In [8]:
df1['Delivery_person_ID'].nunique()

1320

3. Qual a idade do entregador mais velho? E do mais novo?

In [9]:
print(df1['Delivery_person_Age'].min())
print(df1['Delivery_person_Age'].max())

15
50

In [10]:
df1['Delivery_person_Age'].sort_values()

30024    15
10457    15
2236     15
14981    15
10241    15
         ..
35699    50
13257    50
18245    50
4842     50
20079    50
Name: Delivery_person_Age, Length: 42805, dtype: int64

4. Qual o ID do entregador com a maior idade? E o ID do entregaor com a
menor idade?

In [11]:
df1['Delivery_person_Age'].sort_values()

30024    15
10457    15
2236     15
14981    15
10241    15
         ..
35699    50
13257    50
18245    50
4842     50
20079    50
Name: Delivery_person_Age, Length: 42805, dtype: int64

In [12]:
print(df1.loc[20079, ['Delivery_person_ID', 'Delivery_person_Age']])
print(df1.loc[30024, ['Delivery_person_ID', 'Delivery_person_Age']])

Delivery_person_ID     HYDRES06DEL01
Delivery_person_Age                50
Name: 20079, dtype: object
Delivery_person_ID     PUNERES05DEL02
Delivery_person_Age                 15
Name: 30024, dtype: object

5. Quais os nomes das condições climáticas?

In [13]:
df1['Weatherconditions'].unique()

array(['conditions Sunny', 'conditions Stormy', 'conditions Sandstorms',
       'conditions Cloudy', 'conditions Fog', 'conditions Windy',
       'conditions NaN'], dtype=object)

6. Quantas entregas foram realizadas sob condições climáticas de tempestade
de areia? ( Sandstorms )

In [14]:
areia = df1['Weatherconditions'] == 'conditions Sandstorms'
df1.loc[areia].shape

(7083, 20)

In [15]:
df1.loc[df1['Weatherconditions'] == 'conditions Sandstorms'].shape[0]

7083

7. Quais eram as condicões climáticas da data mais recente de entrega?

In [16]:
df1.loc[12660,['Order_Date', 'Weatherconditions']]

Order_Date           2022-02-11 00:00:00
Weatherconditions       conditions Windy
Name: 12660, dtype: object

8. Quantos tipos de densidade de trânsito existem na base de dados? Quais os
nomes delas?

In [17]:
df1['Road_traffic_density'].unique()

array(['High ', 'Jam ', 'Low ', 'Medium ', 'NaN '], dtype=object)

9. Quantas entregas foram feitas em cada condição climática?

In [18]:
for i in list(df1['Weatherconditions'].unique()):
    print(i)
    condicoes = df1.loc[df1['Weatherconditions'] == i].shape[0]
    print(condicoes)

conditions Sunny
6904
conditions Stormy
7226
conditions Sandstorms
7083
conditions Cloudy
7135
conditions Fog
7288
conditions Windy
7078
conditions NaN
91

In [19]:
['conditions Sunny', 'conditions Stormy', 'conditions Sandstorms',
       'conditions Cloudy', 'conditions Fog', 'conditions Windy',
       'conditions NaN']

['conditions Sunny',
 'conditions Stormy',
 'conditions Sandstorms',
 'conditions Cloudy',
 'conditions Fog',
 'conditions Windy',
 'conditions NaN']

10. Quantos entregadores únicos fizeram entregas em cada condição climática?

In [20]:
for i in list(df1['Weatherconditions'].unique()):
    print(i)
    dfdelivery = df1.loc[df1['Weatherconditions'] == i]
    print(dfdelivery['Delivery_person_ID'].unique().shape[0])

conditions Sunny
1233
conditions Stormy
1234
conditions Sandstorms
1239
conditions Cloudy
1246
conditions Fog
1251
conditions Windy
1230
conditions NaN
87

11. Quantas entregas foram feitas em cada tipo de densidade de trânsito?

In [21]:
for i in list(df1['Road_traffic_density'].unique()):
    print(i)
    entregas = df1.loc[df1['Road_traffic_density'] == i].shape[0]
    print(entregas)

High
4212
Jam
13480
Low
14605
Medium
10417
NaN
91

12. Quantos entregadores únicos fizeram entregas em cada tipo de densidade
de trânsito?

In [30]:
for i in list(df1['Road_traffic_density'].unique()):
    print(i)
    entregas = df1.loc[df1['Road_traffic_density'] == i]
    print(entregas['Delivery_person_ID'].unique().shape[0])

High
787
Jam
1306
Low
1310
Medium
1287
NaN
87

13. Quantas cidades únicas existem na base? Quais são os seus nomes?

In [23]:
df1['City'].unique()

array(['Urban ', 'Metropolitian ', 'Semi-Urban ', 'NaN '], dtype=object)

14. Quantos tipos de veículos únicos existem na base?

In [24]:
df1['Type_of_vehicle'].unique()

array(['motorcycle ', 'scooter ', 'electric_scooter ', 'bicycle '],
      dtype=object)

15. Qual o tipo de veículo que mais fez entregas com a condição de trânsito
pesado? ( High )

In [117]:
for i in list(df1['Type_of_vehicle'].unique()):
    print(i)
    vehicle = (df1['Road_traffic_density'] == 'High ') & (df1['Type_of_vehicle'] == i)

    aux = df1.loc[vehicle,:].shape[0]
    print(aux)

motorcycle
2481
scooter
1399
electric_scooter
332
bicycle
0

16. Qual o tipo de pedido mais feito durante condições climáticas de tempestade
de areia?

In [121]:
for i in list(df1['Type_of_order'].unique()):
    print(i)
    order = (df1['Weatherconditions'] == 'conditions Sandstorms') & (df1['Type_of_order'] == i)

    aux = df1.loc[order,:].shape[0]
    print(aux)

Snack
1805
Drinks
1734
Buffet
1732
Meal
1812

17. Qual a cidade com o maior número de pedidos de Bebidas (Drinks) feito em
Scooter?

In [127]:
for i in list(df1['City'].unique()):
    print(i)
    cidade = (df1['Type_of_order'] == 'Drinks ') & (df1['Type_of_vehicle'] == 'scooter ') & (df1['City'] == i )

    aux = df1.loc[cidade, :].shape[0]
    print(aux)

Urban
847
Metropolitian
2655
Semi-Urban
1
NaN
100

18. Qual o nome da cidade com o (os) entregador mais velho? E o nome da
cidade com o (os) entregadores mais novos?

In [165]:
print(df1.loc[20079, ['City', 'Delivery_person_Age']])
print(df1.loc[30024, ['City', 'Delivery_person_Age']])

City                   Metropolitian
Delivery_person_Age                50
Name: 20079, dtype: object
City                   Metropolitian
Delivery_person_Age                15
Name: 30024, dtype: object

19. Quantas entregas foram feitas durante o Festival?

In [148]:
df1.loc[df1['Festival'] == 'Yes ', :].shape[0]

848

20. Quantas cidades únicas tiveram entregas feitas durante o Festival?

In [172]:
for i in list(df1['City'].unique()):
    print(i)
    entregas = (df1['Festival'] == 'Yes ') & (df1['City'] == i)
    aux = df1.loc[entregas, :].shape[0]
    print(aux)

Urban
109
Metropolitian
687
Semi-Urban
39
NaN
13

21. Quantas entregas foram feitas durante o Festival na cidade chamada Urban
("Urban")

In [173]:
entregas = (df1['Festival'] == 'Yes ') & (df1['City'] == 'Urban ')
aux = df1.loc[entregas, :].shape[0]
print(aux)

109