In [71]:
import pandas as pd
df = pd.read_csv("train.csv")
df1 = df.copy()

# convertendo Delivery_person_Age para int
linhas_selecionadas = df1['Delivery_person_Age'] != 'NaN '
df1 = df1.loc[linhas_selecionadas, :].copy()
df1['Delivery_person_Age'] = df1['Delivery_person_Age'].astype(int)

# convertendo Delivery_person_Ratings para float
df1['Delivery_person_Ratings'] = df1['Delivery_person_Ratings'].astype(float)

# convertendo Order_Date para datetime
df1['Order_Date'] = pd.to_datetime(df1['Order_Date'], format=('%d-%m-%Y'))

# convertendo multiple_deliveries para int
linhas_selecionadas = df1['multiple_deliveries'] != 'NaN '
df1 = df1.loc[linhas_selecionadas, :].copy()
df1['multiple_deliveries'] = df1['multiple_deliveries'].astype(int)

# removendo espacos dentro de strings
df1.loc[:, 'ID'] = df1.loc[:, 'ID'].str.strip()
df1.loc[:, 'Road_traffic_density'] = df1.loc[:, 'Road_traffic_density'].str.strip()
df1.loc[:, 'Type_of_order'] = df1.loc[:, 'Type_of_order'].str.strip()
df1.loc[:, 'Type_of_vehicle'] = df1.loc[:, 'Type_of_vehicle'].str.strip()
df1.loc[:, 'City'] = df1.loc[:, 'City'].str.strip()

# Exercicios

### 1. Qual o número total de entregas cadastradas na base de dados?

In [109]:
print(f'O numero total de entregas cadastradas na base de dados eh',{df1['ID'].nunique()})

O numero total de entregas cadastradas na base de dados eh {42805}

### 2. Qual o número total de entregadores únicos cadastrados na base de dados?

In [20]:
print(f'O numero total de entregadores cadastrados eh', {df1["Delivery_person_ID"].nunique()})

O numero total de entregadores cadastrados eh {1320}

### 3. Qual a mediana de idade dos entregadores por cidade?

In [110]:
# cols = ['Delivery_person_Age', 'City']
# df1.loc[:, cols].groupby(['City']).median().reset_index()

df1.loc[:, ['Delivery_person_Age', 'City']].groupby(['City']).median().reset_index()

            City  Delivery_person_Age
0  Metropolitian                 30.0
1            NaN                 28.0
2     Semi-Urban                 32.0
3          Urban                 28.0

### 4. Qual o número total de entregas feitas por densidade de tráfego?

In [45]:
cols = ['Road_traffic_density', 'ID']
df1.loc[:, cols].groupby(['Road_traffic_density']).count().reset_index()

  Road_traffic_density     ID
0                 High   4212
1                  Jam  13480
2                  Low  14605
3               Medium  10417
4                  NaN     91

### 5. Qual a média das avaliações das entregas feitas por densidade de tráfego?

In [46]:
cols = ['Delivery_person_Ratings', 'Road_traffic_density']
df1.loc[:, cols].groupby(['Road_traffic_density']).mean().reset_index()

  Road_traffic_density  Delivery_person_Ratings
0                 High                 4.653492
1                  Jam                 4.595395
2                  Low                 4.646780
3               Medium                 4.660627
4                  NaN                 3.912088

### 6. Qual a quantidade de entregas feitas por cidade?

In [47]:
cols = ['ID', 'City']
df1.loc[:, cols].groupby(['City']).count().reset_index()

            City     ID
0  Metropolitian  32031
1            NaN   1105
2     Semi-Urban    152
3          Urban   9517

### 8. Qual a primeira data de entrega por cada cidade?

In [69]:
cols = ['Order_Date', 'City']
df1.loc[:, cols].groupby(['City']).min().reset_index()

            City Order_Date
0  Metropolitian 2022-02-11
1            NaN 2022-02-11
2     Semi-Urban 2022-02-11
3          Urban 2022-02-11

### 9. Qual a última data de entrega por cada cidade?

In [75]:
cols = ['Order_Date', 'City']
df1.loc[:, cols].groupby(['City']).max().reset_index()

            City Order_Date
0  Metropolitian 2022-04-06
1            NaN 2022-04-06
2     Semi-Urban 2022-04-06
3          Urban 2022-04-06

### 10. Qual a média de avaliações das entregas feitas por condições climáticas?

In [66]:
cols = ['Delivery_person_Ratings', 'Weatherconditions']
df1.loc[:, cols].groupby(['Weatherconditions']).mean().reset_index()

       Weatherconditions  Delivery_person_Ratings
0      conditions Cloudy                 4.652190
1         conditions Fog                 4.653549
2         conditions NaN                 3.912088
3  conditions Sandstorms                 4.613000
4      conditions Stormy                 4.613369
5       conditions Sunny                 4.658030
6       conditions Windy                 4.617804

### 11. Qual o valor da avaliação mais baixa feita por tipo de condição climática e por densidade de tráfego?

In [82]:
cols = ['Delivery_person_Ratings', 'Weatherconditions', 'Road_traffic_density']
df1.loc[:, cols].groupby(['Weatherconditions', 'Road_traffic_density']).min().reset_index()

        Weatherconditions Road_traffic_density  Delivery_person_Ratings
0       conditions Cloudy                 High                      4.0
1       conditions Cloudy                  Jam                      4.0
2       conditions Cloudy                  Low                      3.5
3       conditions Cloudy               Medium                      4.0
4          conditions Fog                 High                      4.0
5          conditions Fog                  Jam                      4.0
6          conditions Fog                  Low                      3.5
7          conditions Fog               Medium                      4.0
8          conditions NaN                  NaN                      1.0
9   conditions Sandstorms                 High                      4.0
10  conditions Sandstorms                  Jam                      3.5
11  conditions Sandstorms                  Low                      4.0
12  conditions Sandstorms               Medium                      3.5
13      conditions Stormy                 High                      4.0
14      conditions Stormy                  Jam                      3.5
15      conditions Stormy                  Low                      4.0
16      conditions Stormy               Medium                      3.5
17       conditions Sunny                 High                      3.5
18       conditions Sunny                  Jam                      3.5
19       conditions Sunny                  Low                      2.5
20       conditions Sunny               Medium                      4.0
21       conditions Windy                 High                      4.0
22       conditions Windy                  Jam                      3.5
23       conditions Windy                  Low                      4.0
24       conditions Windy               Medium                      3.5

### 12. Qual a média, mediana e desvio padrão das avaliações por cada tipo de condições de veículos?

In [83]:
cols = ['Delivery_person_Ratings', 'Vehicle_condition']
df1.loc[:, cols].groupby(['Vehicle_condition']).mean().reset_index()

   Vehicle_condition  Delivery_person_Ratings
0                  0                 4.609126
1                  1                 4.648569
2                  2                 4.646178
3                  3                 3.912088

In [84]:
cols = ['Delivery_person_Ratings', 'Vehicle_condition']
df1.loc[:, cols].groupby(['Vehicle_condition']).median().reset_index()

   Vehicle_condition  Delivery_person_Ratings
0                  0                      4.7
1                  1                      4.7
2                  2                      4.7
3                  3                      6.0

In [85]:
cols = ['Delivery_person_Ratings', 'Vehicle_condition']
df1.loc[:, cols].groupby(['Vehicle_condition']).std().reset_index()

   Vehicle_condition  Delivery_person_Ratings
0                  0                 0.298199
1                  1                 0.320140
2                  2                 0.322822
3                  3                 2.479464

### 13. Quantas entregas foram feitas no Festival?

In [86]:
cols = ['ID', 'Festival']
df1.loc[:, cols].groupby(['Festival']).count().reset_index()

  Festival     ID
0     NaN     209
1      No   41748
2     Yes     848

### 14. Qual a avaliação média das entregas feitas no Festival?

In [88]:
cols = ['Delivery_person_Ratings', 'Festival']
df1.loc[:, cols].groupby(['Festival']).mean().reset_index()

  Festival  Delivery_person_Ratings
0     NaN                  4.753846
1      No                  4.635339
2     Yes                  4.491509

### 15. Qual a menor avaliação feita em uma entrega no Festival e por cidade?

In [90]:
cols = ['City', 'Delivery_person_Ratings', 'Festival']
df1.loc[:, cols].groupby(['Festival', 'City']).min().reset_index()

   Festival           City  Delivery_person_Ratings
0      NaN   Metropolitian                      4.5
1      NaN             NaN                      4.5
2      NaN           Urban                      4.5
3       No   Metropolitian                      1.0
4       No             NaN                      2.6
5       No      Semi-Urban                      3.6
6       No           Urban                      1.0
7      Yes   Metropolitian                      1.0
8      Yes             NaN                      4.0
9      Yes      Semi-Urban                      3.5
10     Yes           Urban                      2.5

### 16. Qual a maior avaliação feita por tipo de pedido?

In [94]:
cols = ['Delivery_person_Ratings', 'Type_of_order']
df1.loc[:, cols].groupby(['Type_of_order']).max().reset_index()

  Type_of_order  Delivery_person_Ratings
0        Buffet                      6.0
1        Drinks                      6.0
2          Meal                      6.0
3         Snack                      6.0

### 17. Qual a idade do entregador mais velho da planilha de dados?

In [101]:
idade = df1['Delivery_person_Age'].max()
print(f'idade do entregador mais velho eh', {idade})

idade do entregador mais velho eh {np.int64(50)}

### 18. Qual a idade do entregador mais novo da planilha de dados?

In [102]:
idade = df1['Delivery_person_Age'].min()
print(f'idade do entregador mais novo eh', {idade})

idade do entregador mais novo eh {np.int64(15)}

### 19. Quantas entregas foram feitas em cada condição climática?

In [107]:
cols = ['ID', 'Weatherconditions']
df1.loc[:, cols].groupby(['Weatherconditions']).count().reset_index()

       Weatherconditions    ID
0      conditions Cloudy  7135
1         conditions Fog  7288
2         conditions NaN    91
3  conditions Sandstorms  7083
4      conditions Stormy  7226
5       conditions Sunny  6904
6       conditions Windy  7078

### 20. Quantas entregas foram feitas em cada tipo de densidade de trânsito?

In [108]:
cols = ['ID', 'Road_traffic_density']
df1.loc[:, cols].groupby(['Road_traffic_density']).count().reset_index()

  Road_traffic_density     ID
0                 High   4212
1                  Jam  13480
2                  Low  14605
3               Medium  10417
4                  NaN     91